<div class="row border m-1">
  <div class="p-2 m-0">
   <app-form-register-client (activateSale)="setActiveSale()"></app-form-register-client>
  </div>
</div>

<div class="row  m-1 max-height-100 position-relative  ">
  
  <div
    [ngClass]="{ 'slide-in mb-4': !isActiveInterface, 'slide-out mb-0': isActiveInterface }"

    class="d-flex justify-content-center align-items-center rounded"
  >
    <div class="card text-center w-75 m-0">
      <div class="card-header">
        <p class="fs-3">¡Alerta!</p>
      </div>
      <div class="card-body m-0">
        <h5 class="card-title">No hay cliente</h5>
        <p class="card-text">Agregue un cliente para proceder a cargarle productos.</p>
        <label for="name" class="btn btn-primary text-white">ir a registrar cliente</label>
      </div>
      <div class="card-footer text-body-secondary">2 days ago</div>
    </div>
  </div>

  <div class="position-relative p-2" [ngClass]="{ 'slide-out': !isActiveInterface }">
    <app-cart-sale></app-cart-sale>
    <div class="position-absolute bottom-0 rounded card end-0 z-1 shadow-sm">
      <div class="d-flex gap-2 p-2 justify-content-center align-items-center">
        <div class="">
          Total a pagar:
          <b>{{totalSale   | currency:"USD" }}</b>
        </div>
        <button class="btn btn-sm btn-success">¡Pagar total de producto!</button>
      </div>
    </div>

    <!-- Centro de compras -->
    <app-card-product></app-card-product>
  </div>
</div>
